/target
/core/target
/api
/_variables.yml
/app/css/brand.css
/_site
/.quarto
/app/pkg
/_freeze/**/*.pyc
.DS_Store
__pycache__/
node_modules/

/.quarto/
**/*.quarto_ipynb
.venv/
_environment.local

/_*.local
